{#
 # form - Symfony Form
 # name — Either "shipping" or "billing"
 #}
{% macro output_form(form, name) %}
    <div class="bolt-payments address">
        {{ form_start(form) }}

        {# Address Details #}
        <div class="{{ name }}-address">
            <div class="{{ name }}-address-street">
                {{ form_row(form.address1) }}
            </div>
            <div class="{{ name }}-address-suburb">
                {{ form_row(form.address2) }}
            </div>
            <div class="{{ name }}-address-city">
                {{ form_row(form.city) }}
            </div>
            <div class="{{ name }}-address-postcode">
                {{ form_row(form.postcode) }}
            </div>
            <div class="{{ name }}-address-state">
                {{ form_row(form.state) }}
            </div>
            <div class="{{ name }}-address-country">
                {{ form_row(form.country) }}
            </div>
            <div class="{{ name }}-address-phone">
                {{ form_row(form.phone) }}
            </div>
            <div class="{{ name }}-address-email">
                {{ form_row(form.email) }}
            </div>
        </div>

        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>
{% endmacro %}
