{% block card_style %}
<style>
    .card-security {
        display: flex;
    }
    .card-validity-dates {
        display: flex;
    }
    .card-validity-date-chooser {
        display: flex;
    }
</style>
{% endblock %}

<div class="bolt-payments credit-card">
    {{ form_start(forms.credit_card) }}

    {# Account holder #}
    <div class="card-holder">
        {{ form_row(forms.credit_card.firstName) }}
        {{ form_row(forms.credit_card.lastName) }}
    </div>

    {# Card number #}
    <div class="card-security">
        <div class="card-number">
            {{ form_errors(forms.credit_card.number) }}
            {{ form_label(forms.credit_card.number) }}
            {{ form_widget(forms.credit_card.number) }}
        </div>
        <div class="card-ccv">
            {{ form_errors(forms.credit_card.ccv) }}
            {{ form_label(forms.credit_card.ccv) }}
            {{ form_widget(forms.credit_card.ccv) }}
        </div>
        <div class="card-issue-number">
            {{ form_errors(forms.credit_card.issueNumber) }}
            {{ form_label(forms.credit_card.issueNumber) }}
            {{ form_widget(forms.credit_card.issueNumber) }}
        </div>
    </div>

    {# Validity dates #}
    <div class="card-validity-dates">
        <div class="card-validity-date-start">
            {{ form_errors(forms.credit_card.startDate) }}
            {{ form_label(forms.credit_card.startDate) }}
            <div class="card-validity-date-chooser" style="display: flex">
                {{ form_widget(forms.credit_card.startDate.month) }}
                {{ form_widget(forms.credit_card.startDate.year) }}
            </div>
        </div>
        <div class="card-validity-date-end">
            {{ form_errors(forms.credit_card.expiryDate) }}
            {{ form_label(forms.credit_card.expiryDate) }}
            <div class="card-validity-date-chooser" style="display: flex">
                {{ form_widget(forms.credit_card.expiryDate.month) }}
                {{ form_widget(forms.credit_card.expiryDate.year) }}
            </div>
        </div>
    </div>

    {{ form_row(forms.credit_card.submit) }}

    {{ form_end(forms.credit_card) }}
</div>
